@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
title {
  font-family: 'Roboto Slab', sans-serif;
}

p,
li,
span,
text,
label {
  font-family: 'Fira Sans', sans-serif;
  color: #ccc;
}

@layer components {

  .dotss {
    @apply w-6 h-6 bg-gray-200 rounded-full border-2 border-gray-200 hover:bg-blue-400 active:bg-blue-400 focus:bg-blue-400 focus:outline-none;
  }

  .selector {
    @apply text-white font-sans text-lg font-semibold;
  }

  .window {
    @apply flex flex-col items-center max-w-7xl justify-end lg:justify-center mr-12 lg:mr-0 self-end lg:self-center gap-6 w-[80%] border border-white p-8 rounded-lg shadow-lg bg-[#242734];
  }

  .select {
    @apply block bg-[#1F202A] border border-2 border-gray-500 text-white py-2 px-4 pr-10 rounded-md focus:outline-none focus:ring-2 focus:ring-gray-400 focus:border-gray-400;
  }

  .plot-title {
    @apply text-white text-3xl font-bold mb-8 mt-4;
  }

  .options {
    @apply flex justify-between items-center w-full border border-gray-300 p-5 rounded-2xl bg-[#EAF4FC];
  }

  .year-slider {
    @apply w-full h-2 rounded-lg cursor-pointer accent-[#E94F37];
  }

  .play-button {
    @apply w-12 h-12 flex items-center justify-center bg-[#E94F37] text-white text-4xl px-4 py-2 rounded;
  }
}

.corpus {
  @apply text-[#ccc] max-w-4xl;
}

.container-selector {
  @apply flex flex-row items-center mb-5
}




html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
}

.dot {
  transition: background-color 0.3s;
}